.CodeMirror {
	cursor: text;
	background: #ffffff33;
	box-shadow: 0 0 12px -6px #00000070 inset;
}
.CodeMirror-gutters {
    background-image: url(../../ui/parchment.jpg);
    background-color: hsl(0deg 0% 0% / 2%);
    background-blend-mode: darken;
    box-shadow: 0 0 5px 0px #0000005c;
}

/* Fopr when Macro editor option is enabled */
.window-app.macro-sheet .CodeMirror {
	height: 14em;
}