.CodeMirror {
    	height: 100%;
    	cursor: text;
    	background: #ffffff33;
    	box-shadow: 0 0 12px -6px #00000070 inset;
}
.CodeMirror-gutters {
    background-color: #c5c5c547;
    box-shadow: 0 0 5px 0px #0000005c;
}